.gitignore
.gitattributes
.vscode
.config
*.code-workspace
azure-*
.pre-commit-config.yaml
IDR.postman_collection.json
README.md
Portal.React/appsettings.Development.json
Portal.React/appsettings.DALAB.json
Portal.React/appsettings.DALABPROD.json
Portal.React/appsettings.DALABPO.json
Portal.React/appsettings.PerformanceTest.json
Portal.React/appsettings.Test.json
Portal.React/appsettings.Production.json

.git/
.vs/
screenshots/
bin/
obj/
src/Test/
src/AdvancedInstaller/
src/Database/
src/Web/Client
src/Web/SeedingService

# directories
**/bin/
**/obj/
**/out/
**/node_modules/
**/cypress/
**/.vscode/
**/.vs/
**/dist/
**/e2e/

# files
**/*.trx
**/*.md
**/*.txt
**/*.ps1
**/*.cmd
**/*.sh
**/*.TMP
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE
**/.gitignore